.container {
  display: flex;
}

.in-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.child-container {
  display: flex;
}

.child-container1 {
  flex-shrink: 0;
}

/* .child-container2 {
  flex-shrink: 0;
} */

@media (max-width: 400px) {
  .child-container {
    display: flex;
    flex-direction: column;
  }
}
